
<footer class="bg-dark text-center text-white">
  <div class="container-fluid">
    <div class="row firstRow  ">
      <div class="col-md-4 ">
        <h3>Location</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-4">
        <h3>AROUND THE WEB</h3>
        <div class="icons d-flex justify-content-center">
          <div class="icon rounded-circle d-flex justify-content-center align-items-center  mx-1">
          <i class="fa-brands fa-facebook"></i>
          </div>
          <div class="icon rounded-circle d-flex justify-content-center align-items-center  mx-1">
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div class="icon rounded-circle d-flex justify-content-center align-items-center  mx-1">
            <i class="fa-brands fa-linkedin"></i>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <h3>ABOUT FREELANCER</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, explicabo!</p>
      </div>

    </div>
   
   
   
   
    <div class="row p-2">
      <div class="div">
        <p>Copyright © Your Website 2021</p>
      </div>
    </div>
  </div>
  

 
</footer>