body{
  background-color: #1abc9c;
  min-height:  calc(70vh - 112px);

}
.icon i{
  position: relative;
  font-size: large;
  color: antiquewhite;
  z-index: 1000;
}

.line{
  height: 4px;
  width: 80px;
  background-color: aliceblue;

}


