<div class="container text-center pt-5 ">
  <div class="header  d-flex  flex-column align-items-center">
    <h1>CONTACT COMPONENT</h1>
    <div class="icon d-flex justify-contenr-center align-items-center">
      <div class="line me-2 "></div>
    <i class="icons fa-solid fa-star"></i>
    <div class="line ms-2 "></div>
    </div>
  </div>
    <form action="" class="w-50 p-3 mx-auto mt-5">
      <input class="form-control w-100 mt-5 mb-5" type="text" type="text" placeholder="Enter your Username">
      <input class="form-control w-100 mt-5 mb-5" type="text" type="text" placeholder="Enter your Age">
      <input class="form-control w-100 mt-5 mb-5" type="text" type="text" placeholder="Enter your Email">
      <input class="form-control w-100 mt-5 mb-5" type="text" type="text" placeholder="Enter your Password">
    <button class="btn mb-2">Send a message</button>
    </form>
</div>


